.personal-projects {
    margin-bottom: 15px;
}

.project-card {
    height: 100%;
    background-color: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 10px black;
    border-radius: 2%;
}

.project-card:hover {
    cursor: pointer;
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.project-chip {
    margin-top: 20px;
}

@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
