$title-color: white;
$body-color: white;
$card-header-color: white;
$tag-background-color: #1976d2;
$tag-color: white;
$divider-color: black;
$divider-background-color: black;

@import '~bulma/bulma.sass';
@import '~bulma-timeline';
@import '~bulma-divider';
@import '~bulma-switch';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body.dark-mode {
  -webkit-font-smoothing: antialiased;
  --bg: #202020;
  --textNormal: white;
  background-color: var(--bg);
  --educationText: #65BD68;
}

body.light-mode {
  --bg: white;
  --textNormal: #222;
  background-color: var(--bg);
  --educationText: #2B642D;
}


#mainContainer {
  margin-left: 15%;
  margin-right: 15%;
  color: var(--textNormal);
}

hr {
  background-color: dimgrey;
  margin-top: 3%;
  margin-bottom: 2%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #999;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #202020;
  border-radius: 10px;
  background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 10px;
}


