.theme-toggle {
  position: absolute;
  top: 10px;
  right: 25px;
}

.dark-mode-button {

  border: 1px solid rgba(var(--textNormal), 0.8);
  background: transparent;
  box-shadow: 1px 1px 3px var(--textNormal);
}
